<div class="question" id="question_<%= index %>" data-index=<%= index %> data-qid=<%= question.id %>>
<%= pform.fields_for :questions, question do |form| %>
  <hr>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h5>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <table width="70%">
  <tr width="100%">
  <td style="padding: 0px;">
  <%= form.text_field :label, placeholder: 'Question label...', class: "questions_label form-control" %>
  </td>
  <td>
  <%= link_to 'X', 'javascript:void(0);', class: 'question_remove_link' %>
  </td>
  </tr>
  </table>
  </div>
  
  <div class="form-group" style="width: 70%;">
  <%= form.text_area :desc, name: "test[questions_attributes][#{index}][desc]", placeholder: 'Question description...', class: 'questions_desc form-control' %>
  </div>
  
  <div class="options" id="options">
    <%= render partial: 'admin/tests/questions/option', locals: {question_index: index, option: Option.new, index: 0} %>
    <% question.options.each_with_index do |o, i| %>
      <%= render partial: 'admin/tests/questions/option', locals: {question_index: index, option: o, index: i+1} %>
    <% end %>    
  </div>
  <%  %>
  <%= form.check_box :_destroy if question.id %>
<% end %>
<%= button_tag '+ Option', type: 'button', id: 'add_option_btn', data: {question_index: index}, class: "btn btn-light min-width-btn" %>
</div>
