<div class="option" id="option_<%= index %>" data-index=<%= index %>>
<%= fields_for(option) do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h5><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h5>

      <ul>
        <% option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="input-group mt-1 ps-1">
    <%= form.text_field :text, name: "test[questions_attributes][#{question_index}][_options][#{index}][text]", class: "form-control form-control-sm" %>
    
    <span class="input-group-text" id="basic-addon1">
      <%= form.check_box :correct, name: "test[questions_attributes][#{question_index}][_options][#{index}][correct]", class: 'option_checkbox form-check-label' %>
    </span>
    <span class="input-group-text" id="basic-addon1">      
      <%= link_to 'X', 'javascript:void(0);', class: 'option_remove_link' %>
    </span>
  </div>
  
<% end %>
</div>