<%= fields_for(option) do |form| %>
<div class="option" id="option_<%= index %>" data-index=<%= index %> >
  <% if option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
        <% option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.text_field :text, name: "test[questions_attributes][#{question_index}][_options][#{index}][text]" %>
  Correct answer <%= form.check_box :correct, name: "test[questions_attributes][#{question_index}][_options][#{index}][correct]", class: 'option_checkbox' %>
  <%= link_to 'X', 'javascript:void(0);', class: 'option_remove_link' %>
  </div>
</div>
<% end %>