<%= button_to 'Back', users_path, :method => :get, class: "btn btn-light min-width-btn btn-sm" %><br>

<div class="form-group">
<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group col-sm-3">
    <strong>Name</strong> 
    <%= f.text_field :name, class: "form-control form-control-sm" %>    
  </div>
  
  <div class="form-group col-sm-3">
    <strong>Email</strong> 
    <%= f.email_field :email, class: "form-control form-control-sm" %>
  </div>
  
  <div class="form-group col-sm-3">
    <strong>Password</strong> 
    <%= f.password_field :password, class:"form-control form-control-sm" %>
  </div>
  
  <div class="form-group col-sm-3">
    <strong>Password confirm</strong>
    <%= f.password_field :password_confirmation, class:"form-control form-control-sm" %>
  </div>
  
  <div class="form-group mb-2 col-sm-3">
    <strong>Role</strong>
    <%= f.select :role, user_role_options, {}, {class: "form-control form-select-sm"} %>
  </div>
  
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>
</div>