<table>
<tr>
<td><%= button_to 'Back', users_path, :method => :get %></td>
<td><%= button_to 'Edit', [:edit, @user], :method => :get %></td>
</tr>
</table>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="form-group mb-3">
    <strong>Name:</strong>
    <%= @user.name %>
  </div>
  
  <div class="form-group mb-3">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>
  
  <div class="form-group mb-3">
    <strong>Role:</strong>
    <%= @user.role %>
  </div>
</div>