<table>
  <tr>
  <td>
    <%= button_to 'Back', tests_path, :method => :get, class: "btn btn-light min-width-btn" %>
  </td>
  <td>
    <%= button_to 'Edit', [:edit, @test], :method => :get, class: 'btn btn-primary min-width-btn' %>
  </td>
  </tr>
</table>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="form-group mb-3">
    <strong>Name:</strong>
    <%= @test.name %>
  </div>
  
  <div class="form-group mb-3">
    <strong>Desc:</strong>
    <%= @test.desc %>
  </div>
</div>