<table>
  <tr>
  <td>
    <%= button_to 'Back', tests_path, :method => :get, class: "btn btn-light min-width-btn" %>
  </td>
  <td>
    <%= button_to 'Edit', [:edit, @test], :method => :get, class: 'btn btn-primary min-width-btn' %>
  </td>
  </tr>
</table>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="form-group mb">
    <strong>Name:</strong>
    <%= @test.name %>
  </div>
  
  <div class="form-group mb">
    <strong>Desc:</strong>
    <%= @test.desc %>
  </div>
  
  <div class="form-group mb">
    <strong>Questions</strong>
    <%= @test.questions.count %>
  </div>
  
  <ol class="list-group list-group-numbered">
    <% @test.questions.each do |q| %>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"><%= q.label %></div>
          <%= q.desc %>
        
          <ul class="list-group list-group-horizontal">
            <% q.options.each_with_index do |o, i| %>
              <li class="list-group-item">
                <%= check_box_tag "option_#{i}", '', o.correct?, disabled: true, class: "form-check-input me-1" %>
                <%= o.text %>
              </li>            
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ol>
</div>