<!DOCTYPE html>
<html>
  <head>
    <title>OivanAssignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light" style="margin-bottom: 10px;">    
    <a class="navbar-brand" href="/">Admin panel</a>
    <form class="form-inline">    
      <% if current_user %>
      Hello <%= current_user.name %>!    
      <%= link_to "Users", users_path, class: "btn btn-outline-primary", role: "button" %>    
      <%= link_to "Tests", tests_path, class: "btn btn-outline-primary", role: "button" %>
      <%= link_to "Logout", logout_path, :method => :delete, class: "btn btn-outline-primary" %>
      <% end %>
    </form>
    </nav>
      
    
    <%= yield %>
  </body>
</html>
